.CreateNewTask {
    display: flex;
    width: 100%;
    position: relative;
    border-bottom-left-radius: 10px;
}

.input {
    width: 100%;
    padding: 0 100px 0 5px;
    font-size: 20px;
    height: 40px;
    border: 1px solid var(--gray-text-main);
}

.button {
    width: 100px;
    height: 40px;
    position: absolute;
    right: 0;
    background-color: var(--green-text);
    border: none;
    cursor: pointer;
}

